[defaults]
# Automatically use the local inventory file so you don't have to specify -i
inventory = inventory-vagrant.yml

# Improve the readability of playbook execution output
stdout_callback = default
callback_result_format = yaml
bin_ansible_callbacks = True

# Disable SSH host key checking (useful if you switch back to SSH/Vagrant later)
host_key_checking = False

allow_world_readable_tmpfiles=true

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
